/** Table of Contents
 * Default Styling
 * Link Styling
 * Button Styling
 */

/* Default Styling */
body {
    font-family: 'Poppins' !important;
    background-color: #f5f5f5!important;
}

/* Link Styling */
@media (hover: hover) {
    .underline-hover {
        display: inline-block;
    }
    
    .underline-hover::after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: var(--black);
        transition: 300ms;
    }

    .light-green-hover.underline-hover::after {
        background: var(--light-green);
    }

    a:hover .underline-hover::after,
    .underline-hover:hover::after {
        width: 100%;
    }
}

/* Button Styling */
a, button {
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}

.button {
    color: #fff;
    box-shadow: none;
    border: solid 0.5px  var(--light-green);
}